
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle {
  --size: 1.5rem;
  --wrapperPadding: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;

  .icon {
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }
}
