
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle {
  --size: 1.5rem;
  --wrapperPadding: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;

  .icon {
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    background-color: var(--white-100);
    border-radius: 50%;
    svg {
      width: var(--size);
      height: var(--size);
    }
  }
}
